# Docs: https://docs.pi-hole.net/docker/
# Dashboard: http://192.168.178.44:8081/admin/login

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "192.168.178.44:53:53/tcp"
      - "192.168.178.44:53:53/udp"
      - "192.168.178.44:8081:80/tcp"
      - "192.168.178.44:443:443/tcp"
    environment:
      TZ: 'Europe/Berlin'
      FTLCONF_webserver_api_password: ${PIHOLE_API_PASSWORD}
      FTLCONF_dns_listeningMode: 'ALL'
    volumes:
      - './etc-pihole:/etc/pihole'
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped