# Alternative to the microK8s cluster
# Metrics: https://learn.netdata.cloud/docs/welcome-to-netdata/
# Netdata: http://192.168.178.44:19999
services:

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8090:8080"
    environment:
      WATCHTOWER_POLL_INTERVAL: 86400  # 86400 check every 24 hours
      WATCHTOWER_CLEANUP: "true"

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TOKEN}

  linky:
    container_name: linkycloud
    image: ghcr.io/fabo011/linky:4.0.18
    platform: linux/arm64
    ports:
      - "80:80"
    environment:
      - VUE_APP_SUPABASE_URL=${VUE_APP_SUPABASE_URL}
      - VUE_APP_API_KEY=${VUE_APP_API_KEY}
    restart: unless-stopped
    depends_on:
      - cloudflared

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
       DOMAIN: "https://vw.fabo011-cloud.de"
    volumes:
        - ./vw-data/:/data/
    ports:
        - "8000:80"

  mealie:
      image: ghcr.io/mealie-recipes/mealie:latest
      container_name: mealie
      restart: always
      ports:
        - "9925:9000"
      volumes:
        - ./mealie/data:/app/data
      environment:
        - ALLOW_SIGNUP=false
        - PUID=1000
        - PGID=1000
        - TZ=Europe/Berlin
