#sudo mkdir -p /mnt/ssd/vw-data /mnt/ssd/mealie-data /mnt/ssd/linky-data
#sudo chown -R 1000:1000 /mnt/ssd/vw-data /mnt/ssd/mealie-data /mnt/ssd/linky-data


services:

  watchtower:
    image: ghcr.io/nicholas-fedor/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8090:8080"
    environment:
      WATCHTOWER_POLL_INTERVAL: 86400  # 86400 = 24h
      WATCHTOWER_CLEANUP: "true"

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TOKEN}

  linky:
    container_name: linkycloud
    image: ghcr.io/fabo011/linky:4.0.18
    platform: linux/arm64
    ports:
      - "80:80"
    environment:
      - VUE_APP_SUPABASE_URL=${VUE_APP_SUPABASE_URL}
      - VUE_APP_API_KEY=${VUE_APP_API_KEY}
    restart: unless-stopped
    depends_on:
      - cloudflared
    volumes:
      - /mnt/ssd/linky-data:/app/data

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
       DOMAIN: "https://vw.fabo011-cloud.de"
    volumes:
        - /mnt/ssd/vw-data:/data
    ports:
        - "8000:80"

  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    restart: always
    ports:
      - "9925:9000"
    volumes:
      - /mnt/ssd/mealie-data:/app/data
    environment:
      - ALLOW_SIGNUP=false
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "192.168.178.45:53:53/tcp"
      - "192.168.178.45:53:53/udp"
      - "192.168.178.45:8081:80/tcp"
      - "192.168.178.45:443:443/tcp"
    environment:
      TZ: 'Europe/Berlin'
      FTLCONF_webserver_api_password: ${PIHOLE_API_PASSWORD}
      FTLCONF_dns_listeningMode: 'ALL'
    volumes:
      - '/mnt/ssd/pihole:/etc/pihole'
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped

